body{
    margin-left: 50px;
    }
    .keys{
    border: solid 1px;
    /* margin-top: -50px; */
    padding: 450px 50px 10px 35px;
    background-color: white;
    border-radius: 10px;
    }
    .black{
    position: absolute;
    top: 172px;
    margin-left: -30px;
    border: solid 1px;
    padding: 250px 25px 10px 25px;
    background-color: black;
    border-radius: 10px;
    }
    button:active{
    background-color: rgb(223, 216, 216);
    }
    #list{
    padding-top: 10px;
    padding: 50px 280px 45px 60px;
    background-image: url(images/wood-bg.jpeg);
    width: 750px;
    }
    #saveFile{
    width: 50px;
    height: 45px;
    }
    #save{
    border: solid 1px white ;
    }
    #playButton{
      height: 50px;
      width: 50px;
    }
    #play{
    border: solid 1px white;
    }
    #line{
    border: solid 7px rgb(238, 168, 37);
    height: 480px;
    width: 870px;
    display: flex;
    gap: 0.1px;
    padding: 50px;
    }
    #page{
    display: flex;
    padding:58px 200px;
    }

    @media screen and(min-width:480px) and(max-width:320px){
        body{
            margin-left: none;
            }
            .keys{
            border: solid 1px;
            /* margin-top: -50px; */
            padding: 70px 5px 5px 15px;
            background-color: white;
            border-radius: 5px;
            }
            .black{
            position: absolute;
            top: 80px;
            margin-left: -30px;
            border: solid 1px;
            padding: 130px 10px 5px 15px;
            background-color: black;
            border-radius: 5px;
            }
            button:active{
            background-color: rgb(223, 216, 216);
            }
            #list{
            padding-top: 5px;
            padding: 8px 80px 5px 5px;
            background-image: url(images/wood-bg.jpeg);
            width: 180px;
            }
            #saveFile{
            width: 10px;
            height: 10px;
            }
            #save{
            border: solid 1px white ;
            }
            #playButton{
              height: 8px;
              width: 10px;
            }
            #play{
            border: solid 1px white;
            }
            #line{
            border: solid 7px rgb(238, 168, 37);
            height: 100px;
            width: 300px;
            display: wrap;
            gap: 0.1px;
            padding: 10px;
            }
            #page{
            display: wrap;
            padding:20px 50px;
            }
        }
@media screen and(min-width:481px)and(max-width:768px){
  body{
    margin-left: 20px;
    }
    .keys{
    border: solid 1px;
    /* margin-top: -50px; */
    padding: 100px 40px 5px 25px;
    background-color: white;
    border-radius: 5px;
    }
    .black{
    position: absolute;
    top: 100px;
    margin-left: -30px;
    border: solid 1px;
    padding: 200px 20px 5px 20px;
    background-color: black;
    border-radius: 5px;
    }
    button:active{
    background-color: rgb(223, 216, 216);
    }
    #list{
    padding-top: 8px;
    padding: 30px 100px 30px 30px;
    background-image: url(images/wood-bg.jpeg);
    width: 500px;
    }
    #saveFile{
    width: 30px;
    height: 20px;
    }
    #save{
    border: solid 1px white ;
    }
    #playButton{
      height: 20px;
      width: 30px;
    }
    #play{
    border: solid 1px white;
    }
    #line{
    border: solid 7px rgb(238, 168, 37);
    height: 300px;
    width: 370px;
    display: wrap;
    gap: 0.1px;
    padding: 20px;
    }
    #page{
    display: wrap;
    padding:38px 100px;
    }

}   

@media screen and(min-width:768px)and(max-width:1025px){
  body{
    margin-left: 30px;
    }
    .keys{
    border: solid 1px;
    /* margin-top: -50px; */
    padding: 200px 40px 8px 25px;
    background-color: white;
    border-radius: 5px;
    }
    .black{
    position: absolute;
    top: 122px;
    margin-left: -30px;
    border: solid 1px;
    padding: 200px 20px 10px 20px;
    background-color: black;
    border-radius: 10px;
    }
    button:active{
    background-color: rgb(223, 216, 216);
    }
    #list{
    padding-top: 8px;
    padding: 40px 100px 35px 50px;
    background-image: url(images/wood-bg.jpeg);
    width: 500px;
    }
    #saveFile{
    width: 40px;
    height: 30px;
    }
    #save{
    border: solid 1px white ;
    }
    #playButton{
      height: 30px;
      width: 20px;
    }
    #play{
    border: solid 1px white;
    }
    #line{
    border: solid 7px rgb(238, 168, 37);
    height: 300px;
    width: 500px;
    display: wrap;
    gap: 0.1px;
    padding: 40px;
    }
    #page{
    display: wrap;
    padding:38px 100px;
    }
}

    